ion-card {
  margin-bottom: 16px;
  img {
    width: 100%;
    height: auto;
    border-radius: var(--home-card-radius);
    display: block;
  }
}

ion-list {
  margin-top: 8px;
}

ion-item {
  --inner-padding-end: var(--home-page-padding);
  --padding-start: var(--home-page-padding);
  ion-label {
    font-weight: 500;
  }
  ion-badge {
    font-size: 0.9em;
  }
}
