ion-grid {
  padding: 16px;
}

ion-row {
  display: flex;
  flex-wrap: wrap;
}

ion-col {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.fav-card {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  img {
    width: 50%;
  }
  ion-card-header {
    padding: 8px;
  }
  ion-card-title {
    font-size: 0.75rem;
    white-space: nowrap;
  }
  .remove-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
  text-align: center;
  font-size: 1rem;
}
