.app-container {
  padding: var(--ion-padding);
}

ion-list {
  --ion-item-background: #fafafa;
}

ion-item {
  position: relative;
  border-radius: 8px;
  margin-bottom: 8px;
  --inner-padding-end: 48px; // espaço para o ícone
}

.favorite-icon {
  font-size: 24px;
  cursor: pointer;
}

ion-thumbnail {
  width: 90px;
  height: 90px;
}

ion-thumbnail img {
  width: auto;
  height: auto;
}

.empty-state {
  text-align: center;
  margin-top: 40px;
  color: #888;
}
