ion-toolbar {
  padding: 0 10px 0 10px;
}

ion-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

ion-searchbar {
  padding: 0;
}

ion-item {
  border-radius: 8px;
  height: 80px;
  margin-bottom: 8px;
  cursor: pointer;
}

.favorite-icon {
  font-size: 24px;
  cursor: pointer;
}

ion-thumbnail {
  width: 120px;
  height: 60px;
}

ion-thumbnail img {
  width: auto;
}

@media (max-width: 330px) {
  ion-thumbnail {
    width: 80px;
    height: 40px;
  }
  ion-thumbnail img {
    width: auto;
  }
  ion-item {
    height: 60px;
  }
  ion-title {
    font-size: 20px;
  }
}

@media (max-width: 260px) {
 ion-item {
    h2, p {
      font-size: 0.75rem;
    }
  }
ion-thumbnail {
    width: 40px;
    height: 30px;
  }
   ion-title {
    font-size: 15px;
  }
}

@media (max-width: 195px) {
  ion-item {
    h2, p {
      display: none;
    }
  }
ion-thumbnail {
    width: 40px;
    height: 30px;
  }
}